@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    margin: 0;
}

* {
    font-family: "Ubuntu";
}

/* cabeçalho */
header {
    background-color: #2E948A;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 0;

}


.container-logo {
    text-align: left;

}

.menu {
    margin: 0;
    padding: 0;

}


.logo {
    padding-left: 82px;
}

.menu-item {
    display: inline;
}

.menu-item-link {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 30px;
    font-family: "Ubuntu";
    font-style: normal;
}

.menu-item-link:hover {
    text-decoration: underline;
}

/* primeira section inicio */

#primeira-section-inicio {
    display: flex;
    max-width: 1440px;
    justify-content: space-evenly;
    padding: 70px 0;
    margin: 0 auto;


}

#edfin {
    color:#FF4081;
    font-weight: bold;
    font-size: 60px;
    margin: 0;

}

#p-section1 {
    color: #555555;
    font-size: 27px;

}

#botao-primeira-section {
    text-decoration: none;
    color: #FF4081;
    font-size: 27px;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    text-align: center;
    padding: 10px 30px;

}

#botao-primeira-section:hover {
    background-color:  #FF4081;
    color:#fff;
    transition: all 0.5s ease-out;

}

/* segunda section inicio */

#segunda-section-inicio {
    background-color: #F7F7F7;
    padding: 70px 0;
    
}

.container-section {
    display:flex;
    max-width: 1440px;
    padding: 0 50px;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 auto;
    column-gap: 50px;
}



.segunda-section-item > img {
    margin: 0 auto;
    display: block;
}

.titulos-section2 {
    color: #FF4081;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.p-section2 {
    color:#000000;
    text-align: center;
    font-size: 17px;
    font-weight: 300;

}

.botao-segunda-section {
    text-decoration: none;
    text-align: center;
    color: #fff;
    border: 2px solid #FF4081;
    background-color: #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
    width: 190px;

}

.botao-segunda-section:hover {
    background-color:#009688;
    border-color: #009688;
    transition: all 0.5s ease-out;
}

/* terceira section inicio */

#terceira-section-inicio {
    align-items: center;
    padding: 70px 0;
}


.titulos-section3 {
    color: #009688;
    font-size: 37px;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 50px;
}

.terceira-section-container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 50px;

}
.depoimentos {
    display: flex;
    width: 500px;
    text-align: left;
    align-items: center;
    margin: 20px 0;
}

.p-section3 {
    width: 363px;
    margin: auto;
    padding: 30px;
}

/* quarta section inicio */

#quarta-section-inicio {
    background-color:  #F7F7F7 ;
    padding: 70px 0;
}

.container-section4 {
    display:flex;
    max-width: 1440px;
    padding: 50px 50px;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    column-gap: 80px;
}


.titulo-section4 {
    color: #009688;
    text-align:left;
    padding: 0 50px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 1440px;

}


.quarta-section-item > img {
    margin: 0 auto;
    width: 100%;

}

.titulos-section4 {
    color: #009688;
    font-weight: bold;
    font-size: 27px;
    margin: 0 auto;
}

.p-section4 {
    color:#000000;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
}


.botao-quarta-section {
    color: #FF4081;
    font-size: 25px;
    text-decoration: none;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 289px;
    height: 51px;
    border-radius: 62px;
    text-align: center;
    padding: 10px 10px;

}

.botao-quarta-section:hover {
    background-color: #FF4081;
    color:#fff;
    transition: all 0.5s ease-out;
}


/* página lista de cursos */

.section-cursos{
    margin: 0 auto;
    max-width: 1440px;
}
.titulo-cursos {
    padding: 10px 50px;
    margin:auto;
    max-width: 1440px;
}
.container-cursos {
    display: flex;
    text-align: justify;
    padding: 50px 50px;
    gap: 30px;
    margin-bottom: 30px;
}

.cursos-banner {
    display: block;
    margin: 0;
}

.cursos-banner-texto {
    display: block;
    padding: 30px 50px 30px 30px;

}

.linha {
    max-width: 1244px;
    height: 5px;
    background-color: #C4C4C4;
    width: 100%;
    display:block;
    margin: 0 auto;
}

#titulo-pagina-cursos {
    color:#FF4081;
    font-size: 60px;
    font-weight:bold;
    margin-bottom: 0;
}

#subtitulo-pagina-cursos {
    color: #555555;
    font-size: 20px;

}

.titulo-lista-cursos {
    color: #FF4081;
    font-size: 35px;
    font-weight: bold;
}

.texto-lista-cursos {
    color: #000000;
    font-size: 18px;

}

.botao-pagina-cursos {
    text-decoration: none;
    border:2px solid #2E948A;
    background-color: #2E948A;
    color:#fff;
    box-sizing: border-box;
    border-radius: 62px;
    width: 233px;
    height: 51px;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    display: block;

}

.botao-pagina-cursos:hover{
    background-color:#F7F7F7;
    color:#2E948A;
    border-color: #2E948A;
    transition: all 0.5s ease-out;

}

/* rodapé */
footer {
    background-color: #419488;
    display: block;

}

#footer-container {
    padding: 20px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#opcoes-rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.menu-rodape {
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.menu-rodape:hover {
    text-decoration: underline;
}

#rodape-link-botao {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.link-botao {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 62px;
    padding: 10px 50px;
    text-align: center;
}

.link-botao:hover{
    color:#009688;
    background-color: #F7F7F7;
}